{{#if user}}
	<ul class="nav navbar-nav navbar-right">
		
		<li><a href="/">Chat</a></li>
		<li><a href="/profile">Profile</a></li>
		<li><a href="/logout">Logout ({{user.email}})</a></li>
	</ul>
{{else}}
	<ul class="nav navbar-nav navbar-right">
		<li><a href="/login">Login</a></li>
		<li><a href="/sign_up">Sign up</a></li>
	</ul>
{{/if}}
