<div class="panel panel-default">
	<div class="panel-heading">
		All users: {{#if user.admin}} <a href="/user">add user</a>{{/if}}
	</div>
	<div class="panel-body" id="JQ_users_list">
		{{>users}}		
	</div>
</div>