<div class="panel panel-default">
	<div class="panel-heading">
		All users:
	</div>
	<div class="panel-body">
		{{#each users}}
			{{#ifCond ../user._id _id}}
				<div class="">{{username}} (it's you)</div>
			{{else}}
				<div class="">{{username}}  {{#if ../../user.admin}}<a href="/user/{{_id}}">edit</a>{{/if}}</div>
			{{/ifCond}}
		{{/each}}		
	</div>
</div>