<div class="panel panel-default">
	<div class="panel-heading">
		All users: {{#if user.admin}} <a href="/user">add user</a>{{/if}}
	</div>
	<div class="panel-body">
		{{#each users}}
			{{#ifCond ../user._id _id}}
				<div class="chat_user {{#if online}} online {{/if}}">{{username}} (it's you)</div>
			{{else}}
				<div class="chat_user {{#if online}} online {{/if}}">{{username}}  {{#if ../../user.admin}}<a href="/user/{{_id}}" class="edit_user"><span class="glyphicon glyphicon-pencil" ></span></a>{{/if}}</div>
			{{/ifCond}}
		{{/each}}		
	</div>
</div>