<div class="container">
	<div class="row">
		<div class="col-md-3">
			{{>users_list}}
		</div>

		<div class="col-md-9">
			<div class="chat">
				<ul class="chat_messages" id="JQ_chat_messages">
					<li>Select user to send him a message.</li>
				</ul>

				<div class="form-group">    
		        	<input id="JQ_chat_message" name="message" type="text" placeholder="Message..." class="form-control input-md" value="" disabled="">
			    </div>
			</div>
		</div>
	</div>
</div>