body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.chat_messages {
	border: 1px solid #e7e7e7;
	padding: 10px;
	height: 60vh;
	overflow: auto;
	background: #f8f8f8;
}

.chat_messages li {
	list-style: none;
}

.chat_user {
	padding: 5px 0 5px 15px;
	border-bottom: 1px solid #e7e7e7;
	position: relative;
}

.current_chat_user {
	color: #23527c;
    text-decoration: underline;
	font-weight: bold;
}

.chat_user:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}

.chat_user:before {
	content: '';
	position: absolute;
	height: 8px;
	width: 8px;
	top: 50%;
	left: 0px;
	margin-top: -3px;
	border-radius: 15px;
	border: 1px solid #e7e7e7;
}

.online:before {
	border-color: #68E83E;
	background: #68E83E;
}

.edit_user {
	position: absolute;
	right: 0px;
}

.badge {
	float: right;
    margin-right: 20px;
}